.App {
  text-align: center;
  background-color: #1e1e2f; /* Fondo oscuro */
  color: white; /* Texto blanco */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
}

.task-form,
.task-list {
  margin: 20px 0;
  background-color: #282c34; /* Fondo del formulario y lista */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.header {
  font-weight: bold;
  background-color: #333; /* Fondo del encabezado */
}

.action-button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px; /* Bordes redondeados */
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor tipo puntero */
}

.action-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor */
}
